@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: #696969;
}

a:hover {
  color: #c16e70;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-family: 'Fira Sans', sans-serif;
  
}

/* .top-nav {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  gap: 3rem;
  background-color: #29292a;
  margin: 0;
  height: 6rem;
  list-style: none;
}

.top-nav a {
  color: #d1d1d1;
  transition: color 0.3s ease-in-out;
}

.top-nav a:hover {
  color: #c16e70;
  font-size: 1.13rem;
} */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}





header {
  background-image: url(hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  header {
    background-image: url(hero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: 100%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cfcfcf;
  
}

.hero h1 {
  font-size: 5rem;
  font-weight: 300;
}

.special {
  font-size: 1.75rem;
  
  text-align: center;
}

.services {
  margin: 16rem 0 10rem 0;
  text-align: center;
  font-size: 2rem;
  color: #696969;
}


.services-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 2em;
  text-align: center;
  overflow-wrap: break-word;
  color: #696969;
}

.services-img .img {
max-width: 50rem;
object-fit: cover;
}

.outdoors {
  background-image: url(Skyline-driftwood-EDGE.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 70vh;
  margin: 12vh 0 12vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #d1d1d1;
  
}

@media only screen and (max-width: 600px) {
  .outdoors {
    background-image: url(Skyline-driftwood-EDGE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: 78% 60%;
  }
}

.service-form {
  max-width: 800px;
  margin: 0 auto 10rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: hsl(217, 0%, 55%, 0.3 );
  padding: 30px;
  border-radius: 5px;
}

.quote-form {
  max-width: 800px;
  margin: 10rem auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: hsl(217, 0%, 55%, 0.3 );
  padding: 30px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #2196f3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0d8bf2;
}

.quote {
  background-image: url(SkylineIII-Stainless-Cannonballs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 70vh;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .quote {
    background-image: url(SkylineIII-Stainless-Cannonballs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: 88%;
  }
}


.quote p {
  color: #d1d1d1;
}

.browse {
  font-size: 3rem;
  color: #5f6061;
  margin-left: 16%;
  margin-bottom: 2rem;
}

.enclave {
  background-image: url(Enclave72-iStock-1133765996-Mar2020-scaled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #dedede;
  text-align: center;
}

/* .products-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 2em;
  text-align: center;
  overflow-wrap: break-word;
}

.products-img .img {
  max-width: 50rem;
  object-fit: cover;
  } */



  .products-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .products-img img {
    object-fit: cover;
    max-width: 50rem;
  }

.marquis {
  font-size: 2rem;
  text-align: center;
}

  .products-img-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .products-img-two img {
  max-width: 50rem;
  }

  .kingsman {
    font-size: 2rem;
    text-align: center;
  }

  footer {
    display: flex;
    align-items: center;
    min-height: 20vh;
    background-color: #29292a;
    padding: 1.6rem;
    color: #d1d1d1;
  }
  
  .footer-links {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .footer-links a {
    color: #d1d1d1;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #c16e70;
  }
  
  .footer-left {
    margin-right: auto;
  }
  
@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-left {
    margin: 1rem auto;
  }

  .footer-links {
    flex-direction: column;
    gap: 1rem;
  }
}

.top {
  background-color: #c16e70;
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 18px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;
}

@media (max-width: 480px) {
  .top {
    right: 33%;
    transform: translateX(50%);
  }
}